select {
    padding: 5px 30px 5px 10px; 
    appearance: none;
    border: 1px solid #afaeae;
    border-radius: 5px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="white"><path d="M5 7l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1px center;
    background-size: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.container {
    display: block;
    flex-direction: column;
    position: relative;
    left: 27rem;
    top: -270px;
}
p{
    display: flex;
    position: relative;
    color: aliceblue;
    font-size: 30px;

}
.opciones {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Shadows Into Light',cursive;
    font-size: 20px;
    border-radius: 0;
    top: -19px;
    width: 14rem;
}
.title-genre{
    font-size: 17px;
    color: rgb(252, 252, 252);
}
