.list-contanier {
    display: block;
    position: relative;
    top: -170px;
    left: 46px;
}
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 10px;
}

.image {
    width: 150px;
}
