.reading {
    display: flex;
    position: relative;
    float: right;    
    top: -285px;
    border: 1px solid rgb(255, 255, 255);
    margin: 2rem;
    padding-left: 20px;
    width: 320px;
    height: 600px;
    /* left: 1000px; */
}
h1 {
    color: aliceblue;
}