.reading {
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  top: -130px;
  border: 1px solid rgb(255, 255, 255);
  margin: 2rem;
  padding: 20px;
  width: 340px;
  height: auto;
  border-radius: 25px;
}

.reading-title {
  color: aliceblue;
  font-size: 2.5rem;
}


.lista {
  display: flex; 
  position: relative;
  flex-wrap: wrap;
  justify-content: start; 
  top: -10px; 
}

.list-book_reading {
  width: 100px;
  margin-bottom: 10px;
}
.book_container {
  display: flex;
  flex-wrap: wrap;
}

.element {
  margin: 6px; /* Espacio entre cada elemento */  position: relative; /* Asegúrate de que el contenedor tenga una posición definida */
}

.button {
  position: absolute; /* Posiciona el botón de forma absoluta dentro del contenedor */
  top: -12px; /* Coloca el botón en la parte superior del contenedor */
  left: -18px; /* Coloca el botón en el lado izquierdo del contenedor */
  z-index: 100;
  cursor: pointer;
  background-color: rgb(92, 92, 92);
  color: aliceblue;
  font-size: 16px;
  filter: blur(0.5px);
  border: none;

}
